{% load static %}
<html>
<body>
<form method="POST" action="/ilan/">
    {% csrf_token %}
    <p>Enter amount:</p>
    <input type="text" name="textfield">

    <br>

    <select name="currency">
        <option selected="selected" value="ub">Ultraboost</option>
        <option value="ps4">PS4</option>
    </select>

    <button type="submit">Compute!</button>
</form>

<p>{{ amount_text }}</p>
<!--{% for icon in rows%}-->
<!--    <img style="width: 50px; height: 50px;" alt="Image description" src="{% static 'images/ub.png' %}"/>-->
<!--{% endfor %}-->

</body>
</html>